<div class="toast-con" (click)="toastClicked()">
  @switch (jt.toast.type) {
    @case ('jq') {
      <div class="text" [innerHTML]="jt.toast.content"></div>
    }
    @case ('zj') {
      <div class="text">
        <div class="card-con">
          <div class="card" [style.backgroundColor]="'#bfa6bb'">
            <div class="line">
              <img class="card-img card-img-zj" src="assets/images/avatar/zj/zj-{{ jt.toast.id }}.png" />
            </div>
          </div>
          <div [innerHTML]="jt.toast.content"></div>
        </div>
      </div>
    }
    @case ('rw') {
      <div class="text">
        <div class="card-con">
          <div class="card" [style.backgroundColor]="'#aebb9d'">
            <div class="line">
              <img class="card-img card-img-rw" src="assets/images/avatar/rw/rw-{{ jt.toast.id }}.png" />
            </div>
          </div>
          <div [innerHTML]="jt.toast.content"></div>
        </div>
      </div>
    }
    @case ('jn') {
      <div class="text">
        <div class="card-con">
          <div class="card" [style.backgroundColor]="'#ce8f8a'">
            <div class="line">
              <img class="card-img card-img-jn" src="assets/images/avatar/jn/jn-{{ jt.toast.id }}.png" />
            </div>
          </div>
          <div [innerHTML]="jt.toast.content"></div>
        </div>
      </div>
    }
    @case ('wp') {
      <div class="text">
        <div class="card-con">
          <div class="card" [style.backgroundColor]="'#a5a4b4'">
            <div class="line">
              <img class="card-img card-img-wp" src="assets/images/avatar/wp/wp-{{ jt.toast.id }}.png" />
            </div>
          </div>
          <div [innerHTML]="jt.toast.content"></div>
        </div>
      </div>
    }
    @case ('zb') {
      <div class="text">
        <div class="card-con">
          <div class="card" [style.backgroundColor]="'#d4cc8b'">
            <div class="line">
              <img class="card-img card-img-zb" src="assets/images/avatar/zb/zb-{{ jt.toast.id }}.png" />
            </div>
          </div>
          <div [innerHTML]="jt.toast.content"></div>
        </div>
      </div>
    }
    @case ('mj') {
      <div class="text">
        <div class="card-con">
          <div class="card" [style.backgroundColor]="'#8ca9cb'">
            <div class="line">
              <img class="card-img card-img-mj" src="assets/images/avatar/mj/mj-{{ jt.toast.id }}.png" />
            </div>
          </div>
          <div [innerHTML]="jt.toast.content"></div>
        </div>
      </div>
    }
    @case ('ch') {
      <div class="text">
        <div class="card-con">
          <div class="card" [style.backgroundColor]="'#d3d3d3'">
            <div class="line">
              <img class="card-img card-img-ch" src="assets/images/avatar/ch/ch-{{ jt.toast.id }}.png" />
            </div>
          </div>
          <div [innerHTML]="jt.toast.content"></div>
        </div>
      </div>
    }
  }
</div>
