<div class="pop-menu-con" role="dialog" tabindex="-1">
  <div class="mask"></div>
  <div class="menu-content">
    <div class="menu-list">
      <button class="menu-item" (click)="continue()">继续游戏</button>
      <button class="menu-item" (click)="seeProps()">查看属性</button>
      <button class="menu-item" (click)="seeBag()">查看行囊</button>
      <button class="menu-item" (click)="seeBooks()">查看秘籍</button>
      <button class="menu-item" (click)="saveGame()">保存游戏</button>
      <button class="menu-item" (click)="backToMenu()">回主菜单</button>
    </div>
  </div>
</div>
