@import '../../../app.theme.scss';

.cards-con {
  margin: 31px 20px;
  width: 360px;
  height: 410px;

  .title-contain {
    border: 3px solid $borderColor;
    width: 360px;
    height: 64px;
    padding: 5px;
    background-image: url('/assets/images/choose/choose-bg-sucai.png');
    background-size: 4px 4px;
    background-repeat: repeat;

    .title-con {
      width: 344px;
      height: 48px;
      background-image: url('/assets/images/choose/choose-title-bg.png');
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      padding-bottom: 8px;
      color: $titleColor;
      position: relative;

      .close-con {
        position: absolute;
        right: 25px;
        top: 4px;
        background-color: antiquewhite;
      }
    }
  }

  .dl-con {
    .top-show {
      padding-top: 10px;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      margin-bottom: 5px;

      .first {
        font-size: 24px;
      }
    }

    .dl-control-con {
      position: relative;
      width: 326px;
      height: 272px;
      margin-left: 10px;
      background-image: url('/assets/images/qi/qi-bg-lines.png');
      background-size: 100% 100%;
      display: flex;
      flex-wrap: wrap;

      .qz-pos-con {
        position: absolute;
        z-index: 3;
        width: 44px;
        height: 44px;
        overflow: hidden;
        transform: translate(-50%, -50%);

        .qz-pos {
          width: 88px;
          height: 176px;
          background-size: 100% 100%;
          position: relative;
          transform: scale(0.5) translate(0, 0);
          transform-origin: 0 0;
          background-image: url('/assets/images/qi/qz-pos.png');
          background-repeat: no-repeat;
          animation: switchQzPos 1s steps(2) infinite;
        }

        @keyframes switchQzPos {
          0% {
            transform: scale(0.5) translate(0, 0);
          }

          100% {
            transform: scale(0.5) translate(0, -176px);
          }
        }
      }

      .dl-control-item {
        position: absolute;
        width: 25px;
        height: 25px;
        transform: translate(-50%, -50%);

        .img-con {
          width: 100%;
          height: 100%;
          background-size: 100% 100%;
          position: relative;

          &.img-qz-1 {
            background-image: url('/assets/images/qi/qz-1.png');
          }

          &.img-qz-2 {
            background-image: url('/assets/images/qi/qz-2.png');
          }
        }

        @for $i from 0 through 11 {
          &.img-x-#{$i} {
            left: calc(27px * #{$i} + 14px);
          }
        }

        @for $i from 0 through 9 {
          &.img-y-#{$i} {
            top: calc(27px * #{$i} + 14px);
          }
        }
      }
    }
  }

  .result-con {
    position: absolute;
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid $borderColor;
    width: 160px;
    height: 50px;
    padding: 5px;
    font-size: 24px;
    background-image: url('/assets/images/choose/choose-bg-sucai.png');
    background-size: 4px 4px;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}